# Xcode
.DS_Store
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (kullanmasak da ileride biri kullanırsa diye)
Pods/
